In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('rainfall.csv')

In [10]:
df.shape

(366, 12)

In [11]:
df.sample(7)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
163,12,1005.7,29.2,27.1,25.4,25.8,93,96,1,0.0,220.0,29.8
340,6,1021.3,18.1,16.6,15.4,12.2,76,91,1,0.1,10.0,28.4
305,1,1020.9,24.5,22.9,20.5,17.8,73,61,0,4.3,20.0,29.6
130,10,1008.1,28.4,26.6,23.7,24.3,87,84,1,0.3,220.0,12.0
240,28,1006.5,31.2,28.3,26.9,24.4,79,84,1,4.5,210.0,8.9
18,19,1020.1,17.6,16.4,15.3,12.5,78,84,0,1.0,60.0,38.0
70,11,1022.6,14.3,11.9,10.0,8.0,77,93,1,0.0,20.0,25.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   day            366 non-null    int64
 1   pressure       366 non-null    float64
 2   maxtemp        366 non-null    float64
 3   temparature    366 non-null    float64
 4   mintemp        366 non-null    float64
 5   dewpoint       366 non-null    float64
 6   humidity       366 non-null    int64
 7   cloud          366 non-null    int64
 8   rainfall       366 non-null    int64
 9   sunshine       366 non-null    float64
 10  winddirection  365 non-null    float64
 11  windspeed      365 non-null    float64
dtypes: float64(8), int64(4)
memory usage: 34.4 KB

In [13]:
df.isnull().sum()

day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
rainfall         0
sunshine         0
winddirection    1
windspeed        1
dtype: int64

In [14]:
df.describe()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,365.000000,365.000000
mean,15.756831,1013.742623,26.191257,23.747268,21.894536,19.989071,80.177596,71.128415,0.680328,4.419399,101.506849,21.536986
std,8.823592,6.414776,5.978343,5.632813,5.594153,5.997021,10.062470,21.798012,0.466988,3.934398,81.723724,10.069712
min,1.000000,998.500000,7.100000,4.900000,3.100000,-0.400000,36.000000,0.000000,0.000000,0.000000,10.000000,4.400000
25%,8.000000,1008.500000,21.200000,18.825000,17.125000,16.125000,75.000000,58.000000,0.000000,0.500000,40.000000,13.700000
50%,16.000000,1013.000000,27.750000,25.450000,23.700000,21.950000,80.500000,80.000000,1.000000,3.500000,70.000000,20.500000
75%,23.000000,1018.100000,31.200000,28.600000,26.575000,25.000000,87.000000,88.000000,1.000000,8.200000,190.000000,27.900000
max,31.000000,1034.600000,36.300000,32.400000,30.000000,26.700000,98.000000,100.000000,1.000000,12.100000,350.000000,59.500000

In [15]:
df.duplicated().sum()

0

In [17]:
df.corr()['rainfall']

day              0.010339
pressure        -0.089275
maxtemp         -0.101003
temparature     -0.037360
mintemp         -0.007697
dewpoint         0.139916
humidity         0.489623
cloud            0.625766
rainfall         1.000000
sunshine        -0.552519
winddirection   -0.013214
windspeed        0.154488
Name: rainfall, dtype: float64